body {
  font-family: "Arial", sans-serif;
}

#header {
  font-size: 50px;
  font-weight: bold;
}

.keyword-buttons {
  margin: 5px 10px;
  border-radius: 20px;
}

#user-input {
  margin: 100px 5px;
}

#display-section {
  margin-top: 100px;
  margin-bottom: 50px;
}

.gif-rating {
  font-size: 12px;
  font-weight: bold;
}

.gif-container {
  margin: 10px 5px;
  display: inline-block;
}

.gif {
  border: rgb(150, 150, 150) solid 2px;
}

.gif:hover {
  cursor: pointer;
  /* border: rgba(0, 0, 0, 0.5) solid 2px; */
  border: rebeccapurple solid 2px;
}